.home{
  background-image: url("../components/img/main.png");
  background-size: 100%;
  background-color: rgb(126, 126, 126);
  border: none;
  position: absolute;
  margin: 0;
  width: 100%;
}

.form{
  background-color: white;
}

body{
  background-color:rgb(130, 130, 116);
}