.home{
  background-image: url("../components/img/main.png");
  background-size: 100%;
  background-color: black;
  border: none;
  position: absolute;
  margin: 0;
  width: 100%;
  
  
}

.form{
  background-color: rgb(151, 171, 158);
}

body{
  background-color:rgb(151, 171, 158);
}