.btn{
    text-align: center;
    
}
.button-two{
    margin: 30px;
    margin-left: 30px;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    border: solid white;
    background: none;
    color: white;
    font-weight: bold;
    font-size:12px;
    transition: 0.3s;
    width: 200px;
    
}
.button-two:hover::after,.button-one:hover::after{
    content: " >>> ";
    

}

.button-one{
    margin: 10px;
    margin-left: 30px;
    padding: 20px;
    width: 200px;
    border-radius: 10px;
    cursor: pointer;
    border: solid gray;
    background-color: grey;
    color: white;
    font-weight: bold;
    font-size:12px;
    box-shadow: 1px 1px 1px 1px rgb(68, 68, 68);
    transition: 4s;
    transition-duration: 10s;
}



.main-txt
{
    color: white;
    font-size: 3rem;
    font-weight:bolder ;
    line-height: 0.9;
    -webkit-text-stroke: 1px black;
}