.all-img {
    text-align: center;
    
    padding: 20px;
}





.all-img-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: hidden;
    height: 400px;
    text-align: center;
    position: relative;
    
    
}


.all-img-content article {
    position: relative;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    opacity: 0.5;
    transition: all 0.5s linear;
    
    
}


.all-img-content img {
    width: 100%;
    height: 500px;
    border-radius: 5% 5% 5% 5%;
    border: solid none;
    
}

article.active-slide {
    opacity: 1;
    transform: translateX(0%);
    
    
}


article.last-slide {
    opacity: 0.1;
    transform: translateX(0%);
}


article.next-slide {
    opacity: 0.1;
    transform: translateX(0%)
}
