.logo{
    color: white;
    margin: 10px;
}
nav {
    margin-top: 10px;
    margin-right: 20px;
    font-size: 20px;
    justify-content: left;
    justify-content: center;
    align-items: center;
    
    
}

.link {
    margin-left: 10px;
    text-decoration: none;
    
}
.nonactiveLink{
    color: white;
    
}
.activeLink{
    color: orange;
    text-decoration: none;
    margin-left: 10px;
}
